apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: doq
spec:
  template:
    spec:
      containers:
        - name: doq
          image: "kgantsov/doq:0.7.4"
          command:
            - "/app"
            - "--cluster.namespace"
            - "konstantin"
            - "--cluster.service_name"
            - "doq"
            - "--http.port"
            - "8000"
            - "--grpc.address"
            - "0.0.0.0:10000"
            - "--raft.address"
            - "9000"
            - "--prometheus.enabled"
            - "true"
            - "--storage.data_dir"
            - "/usr/local/doq/data"
          resources:
            requests:
              cpu: 1000m
              memory: 100Mi
            limits:
              cpu: 2000m
              memory: 1500Mi
  volumeClaimTemplates:
    - metadata:
        name: data
      spec:
        accessModes: ["ReadWriteOnce"]
        storageClassName: nfs-client
        resources:
          requests:
            storage: 1Gi
